<%- include('partials/head') %>
<%- include('partials/header') %>
<br>
<%- include('partials/banner') %>
    <h1><%= title %></h1>
    <p> Página Principal <%= title %></p>
   
<%- include('partials/footer') %>